*, *:before, *:after {
  box-sizing: border-box;
}

.conteiner {
  margin: 30px auto;
  width: 1000px;
}

.conteiner__form {
  display: flex;
  justify-content: center;
}

.block__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
}

.form__label {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form__label__title {
  margin-left: 15px;
}

.input__label {
  height: 30px;
  padding-left: 10px;
  margin-top: 15px;
}

.form__btn {
  height: 30px;
  padding: 1px 25px;
}